{{ define "superAdminDash.tmpl" }}
<link rel="stylesheet" href="/static/css/admin.css">    


<div class="container">
    <h1>Welcome to the Super Dashboard</h1>
    <p>Here is your flag:</p>
    <div class="flag">{{ .flag }}</div>
</div>
{{ end }}